.banner {
    color: white;
    padding: 150px 0;
   
}
  .banner h1 {
    font-size: 50px;
    margin-bottom: 0px;

  }
  
  .banner p {
    font-size: 24px;
    color: white;
    font-weight: lighter;
    text-shadow: 2px 2px 3px green;
    margin-bottom: 20px;
  }
