.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}
.card img {
    height: 100px;
}
.card p {
    opacity: .5;
}
.footer {
    text-align: center;
    padding: 60px;
    background-color: #2c2b2b;
    color: red;
}
.footer a {
    font-size: 30px;
    color: #1EDD88;
}